name: Pull requests unit-tests check

on:
  pull_request:
    branches: [ master, main ]

jobs:
  unit-tests_check:
    name: Run unit-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install dependencies
        run: |
          if [ -f "requirements.txt" ]; then
            pip install -r requirements.txt
          fi
          pip install pytest

      - name: Run Unit-tests
        run: |
          cd src
          if python -m pytest "test_class_car.py" -v --tb=short; then
            echo "All tests passed!"
          else
            echo "Tests failed!"
            exit 1  # выходим с ошибкой для блокировки PR
          fi

    ruff-lint:
      name: Lint with Ruff
      runs-on: ubuntu-latest
      needs: unit-tests  # Запускаем только после успешных тестов
                      
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.13'

        - name: Install Ruff
          run: pip install ruff

        - name: Run Ruff Linter
          uses: astral-sh/ruff-action@v3
          with:
            args: "check --config=ruff.toml src"
